:root {
	--font-family-main: 'Open Sans Condensed', sans-serif;
}

BODY {
	font-family: var(--font-family-main);
	padding: 20px 60px;
}

A {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}
